.container {
  padding: 0 10px;
  padding-bottom: 30px;
}
.titleSection {
  display: flex;
  text-align: center;
  background-color: #4f4f4f;
  border-radius: 20px;
}
.title,
.region {
  padding-top: 5px;
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
}

.tempInfo {
  color: #fff;
  margin: 0;
}
.tempInfo > span {
  color: #4793ff;
}

.nameSection {
  margin: 0 auto;
}
/* ---------------------------------------------- */
