.weatherContainer {
  margin-top: 15px;

  background-color: #2e3035;
  border-radius: 10px;
}
.otherInfo {
  margin-top: 15px;
}
.title {
  text-align: center;
  color: #fff;
}
.listWeather {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 5px;
}
.listItem {
  padding: 5px 0;
  color: #fff;
}
.listItem span {
  color: #4793ff;
}
@media screen and (min-width: 900px) {
  .listWeather {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listItem {
    margin-right: 15px;
  }
  .hourItem {
    margin: 0 auto;
    padding: 10px;
  }
  .hourList {
    /* width: 100%; */
  }
}
/* ---------------------------- */
.startInfo {
  margin-left: 2px;
  color: #fff;
  border-right: 1px solid #4793ff;
}
.lilBlock {
  padding-top: 5px;
  border-bottom: 1px solid #4793ff;
}
.willTemp {
  margin-top: 25px;
  border-bottom: 1px solid #4793ff;
}
.willRain {
  margin-right: 0;
  margin-top: 10px;
  border-bottom: 1px solid #4793ff;
}
.willWind {
  margin-top: 5px;
  border-bottom: 1px solid #4793ff;
}
.willHumidity {
  margin-top: 5px;
  border-bottom: 1px solid #4793ff;
}
.willPressure {
  margin-top: 8px;
}
/* ---------- */
.forecastTable {
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid #4793ff;

  /* align-items: center; */
}
.forecastTitle {
  color: #fff;
  text-align: center;
}
.hourListContainer {
  overflow-y: auto;
}
.hourList {
  margin: 0 -5px;
  height: 250px;
  display: flex;

  list-style: none;
}
.hourItem {
  margin: 0 5px;
  padding-top: 10px;
  color: #fff;
}
.hourItem:first-child {
  margin-left: 10px;
}
.infoTemp {
  margin-top: 10px;
}
.infoRain {
  margin-top: 15px;
}
.infoWind {
  margin-top: 15px;
}
.infoHumidity {
  margin-top: 10px;
}
.infoPressure {
  margin-top: 5px;
}
.timeCount {
  margin-right: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}

.speedWind {
  margin-right: 15px;
}
