.noResult {
  display: block;
  padding: 4px 0;
  background-color: #6d67d0;
  border: 1px ridge black;

  text-align: center;
  color: aliceblue;
}
.wrapper {
  width: 70%;
  animation: scaleUpTop 0.3s;
}
.item {
  display: block;
  text-decoration: none;
  color: aliceblue;
}
.itemContainer {
  display: block;
  margin-bottom: 4px;
  background-color: #6d67d0;
  border: 1px ridge black;
  text-decoration: none;
  color: aliceblue;
}
.name {
  text-align: center;
}
.region {
  text-align: center;
}

@keyframes scaleUpTop {
  0% {
    transform: scale(0.5);
    transform-origin: center top;
  }
  100% {
    transform: scale(1);
    transform-origin: center top;
  }
}
