.forecast {
  margin-top: 10px;
  overflow-x: auto;
}

.daysList {
  width: 800px;
  height: 230px;
  /* margin: -5px; */
  padding: 0;
  list-style: none;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
}
.weatherIconContainer {
  align-items: center;
}
.today {
}
.cityItem {
  margin-right: 5px;
  border-radius: 10px;
  background-color: #2e3035;
  width: 165px;
  height: 200px;
}
.activeCityItem {
  margin: 5px;
  border-radius: 10px;
  background-color: #6a88d4;
  width: 165px;
  height: 200px;
  transform: scale(90%);
  transition: all 0.5s ease-out;
}
.weatherIconContainer {
  display: flex;
}

.title {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
.weatherName {
  text-align: center;
  margin: 0;
  padding: 5px;
  padding-top: 8px;
  color: #fff;
}
.activeDayContainer {
  color: #2e3035;
}
@media screen and (min-width: 900px) {
  .daysList {
    margin: 0 auto;
  }
}
