.forecast {
  margin-top: 10px;
}

.daysList {
  margin: -5px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.weatherIconContainer {
  align-items: center;
}
.today {
}
.cityItem {
  margin: 5px;
  border-radius: 10px;
  background-color: #2e3035;
  width: 165px;
  height: 200px;
}
.weatherIconContainer {
  display: flex;
}

.title {
  padding-top: 10px;
  color: #fff;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
.weatherName {
  text-align: center;
  margin: 0;
  padding: 5px;
  padding-top: 8px;
  color: #fff;
}
